@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-swal {
    font-size: 12px; /* Adjust the font size as needed */
    padding: 10px;     /* Adjust the padding as needed */
    border-radius: 10px; /* Adjust the border radius as needed */
    width: 250px;
}